#v2js-footer {
  color: #aaa;
  font-weight: 100;
  font-family: "Microsoft YaHei UI Light";
  padding: 3em 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #v2js-footer {
    font-size: 14px;
  }
}