#v2js-header {
  float: left;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #v2js-header {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
  }
}

@media screen and (max-width: 480px) {
  #v2js-header {
    padding-bottom: 1em !important;
  }
}

#v2js-header .v2js-nav-toggle {
  position: absolute;
  top: 0.5em;
  left: 15px;
  z-index: 99;
}

#v2js-header .v2js-social {
  position: absolute !important;
  right: 2em !important;
  top: 1em;
  z-index: 99;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  #v2js-header .v2js-social {
    right: 15px !important;
    top: 1em;
  }
}

@media screen and (max-width: 768px) {
  #v2js-header .v2js-social {
    right: 15px !important;
    top: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  #v2js-header .v2js-social {
    right: 0;
    top: 0em;
    margin-left: -50px;
  }
}

@media screen and (max-width: 768px) {
  #v2js-header {
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
  }
}

#v2js-header #v2js-logo {
  text-align: center;
}

#v2js-header #v2js-logo a {
  color: #000;
}

#v2js-header #v2js-logo a sup {
  font-size: 20px;
  top: -20px;
}