@import "mixin.styl"
@import "color.styl"


.v2js-title {
  position: relative;
  height: 52px;
  padding: 10px 0;
  background: #2a2a2a;
  color: #aaa;
  font-family: "Microsoft YaHei UI Light";
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

