@import "color.styl"
$v2js-color-block($color) {
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: $color;
}

$color-block-suffix = '.v2js-color-';

$create-color-block($index) {
  if ($index < 4) {
    {$color-block-suffix + $index} {
      $v2js-color-block($color- + $index)
    }
    $create-color-block($index + 1)
  }
}

$create-color-block(1)


$btn-base() {
  cursor: pointer;
  display: inline-block;
  font-family: Lato,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 12.31px 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  text-decoration: none;
  -moz-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

}